<p class="back" routerLink="" style="cursor: pointer;">Voltar</p>
<div class="container">
  <h3>Cadastrar nova Fazenda</h3>
  <p class="draw" (click)="draw('Circle')" style="cursor: pointer;">Desenhar círculo</p>
  <p class="draw" (click)="draw('Polygon')" style="cursor: pointer;">Desenhar Polígono</p>
  <form  #form="ngForm">
    <div>
      <p for="name">Nome da Fazenda:
      </p>
      <input type="text" id="name" [(ngModel)]="farm.name" name="name">
    </div>
    <div>
      <p for="municipality">Município:</p>
      <input type="text" id="municipality" [(ngModel)]="farm.municipality" name="municipality">
    </div>
    <div>
      <p for="state">Estado:</p>
      <input type="text" id="state" [(ngModel)]="farm.state" name="state">
    </div>
    <div>
      <p for="geometry">Geometria:</p>
      <input type="text" id="geometry" [(ngModel)]="farm.geometry" name="geometry">
    </div>
    <div>
      <p for="owner">ID do dono:</p>
      <input type="text" id="owner" [(ngModel)]="farm.owner.id" name="owner">
    </div>
    <button (click)="update()">Atualizar</button>
  </form>
</div>